{% extends "layouts/authenticated.njk" %}
{% block content %}
  <header>
    <h2>Meus projetos ({{ projects.length }})</h2>
    <div class="addon">
      <form action="/app/project/store" method="post">
        <input type="text" name="name" placeholder="Novo projeto">
        <button type="submit" class="btn">
          <img src="/img/plus.svg">
        </button>
      </form>
    </div>
  </header>

  <section id="content">
    <div class="project-list">
      {% for project in projects %}
        <a href="project.html">{{ project.name }}</a>
      {% else %}
        <p>Você ainda não possui projetos criados ainda! :/</p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
